* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 300;
    color: #547670;
    background-color: rgb(219, 232, 231);
}

.section-content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*headings*/

h1,
h2 {
    font-weight: 500;
    color: #3bc3a9;
}

h1 {
    text-align: left;
    margin: 0;
}


/*navigation and logo*/

.logo-image {
    width: 60px;
}

nav {
    background-color: aliceblue;
    border-bottom: #547670;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 14px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 24px;
    margin: 0;
    display: flex;
}

#menu li {
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #547670;
}

/*hero section*/

.hero-section .section-content {
    display: flex;
}

.hero-content {
    width: 50%;
    padding-left: 24px;
}

.hero-image-wrapper img {
    width: 60%;
}

.hero-image-wrapper {
    text-align: center;
    width: 50%;
}

/*benefits section*/

.benefits-section {
    background-color: aliceblue;
    text-align: center;
    margin-bottom: 14px;
    margin-top: 14px;
    padding: 14px;
}

.benefits-list {
    list-style-type: none;
    column-count: 3;
}

/*yoga section*/

.yoga-section {
    display: flex;
    margin-top: 10%;
    background-color: #ffff;
    align-items: center;
}

.yoga-image-wrapper {
    width: 50%;
    padding: 10px;
    text-align: center;
}

.yoga-image-wrapper img {
    width: 75%;
}

.yoga-content {
    width: 50%;
    padding-right: 50px;
    max-width: 700px;
}