* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 300;
    color: #547670;
    background-color: rgb(219, 232, 231);
}

.section-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/*headings*/

h1,
h2 {
    font-weight: 500;
    color: #0c92a4;
    font-family: "Kaushan Script", sans-serif;
}

h1 {
    text-align: left;
    margin: 0;
}


/*navigation and logo*/

.logo-image {
    width: 50px;
}

nav {
    background-color: #1c2e2b;
    border-bottom: #547670;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    color: azure;
}

header {
    position: sticky;
    top: 0px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 24px;
    margin: 0;
    display: flex;
}

#menu li {
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #547670;
}

/*banner section*/
.banner-wrapper {
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    font-size: 40px;
}

.yoga-banner-section {
    background-image: url("/assets/images/wee-lee-HOSjS6qIGAs-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Kaushan Script", sans-serif;
}

/*about us section*/

.about-us-content {
    padding-left: 24px;
}


/*benefits section*/

.benefits-section {
    background-color: aliceblue;
    margin-bottom: 14px;
    margin-top: 14px;
    padding: 14px;
}

.benefits-list {
    list-style-type: none;
    column-gap: 40px;
    display: flex;
    line-height: 1.3;
}


/* about yoga section*/

.yoga-section {
    display: flex;
    background-color: #ffff;
    align-items: center;
}

.yoga-image-wrapper {
    width: 50%;
    padding: 10px;
    text-align: center;
}

.yoga-image-wrapper img {
    width: 75%;
}

.yoga-content {
    width: 50%;
    padding-left: 50px;
    max-width: 700px;
}

/*our classes section*/

.instructors img {
    width: 100%;
    padding: 14px;
}

.instructor-wrapper:hover {
    /* animates zoom effect on loading page */
    animation-name: instructors-zoom;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes instructors-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.instructors {
    display: flex;
    column-gap: 20px;
}

.classes-section {
    padding-bottom: 30px;
    background-color: #ffff;
    text-align: center;

}

.classes-section h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 40px;

}

.instructor-wrapper {
    width: 25%;
}

/* schedule section*/

#schedule-section {
    margin: 0 auto;
    background-color: #fff;
    padding: 40px 0;
}

#schedule-section thead,
#schedule-section .column-header {
    background-color: #1c2e2b;
    color: #fff;
}

#schedule-section td,
#schedule-section th {
    padding: 8px 16px;
}

#schedule-section table {
    width: 100%;
}

/* footer */

footer {
    background-color: #1c2e2b;
    padding: 60px 0;

}

#footer-image {
    background-image: url(/assets/images/newsletter-bg-2-3.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 500px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    padding: 0 28px;
}

.social-networks i {
    color: #F0FFFF;
    font-size: 30px;
}

/*quotes section*/

.quote-section {
    font-family: "Dancing Script", sans-serif;
    font-size: 50px;
    color: #0c92a4;
    display: flex;
}

.image-wrapper img {
    width: 80%;
}

.image-wrapper {
    width: 20%;
    padding: 10px;
    text-align: left;
}

.quote-content {
    width: 80%;
    padding-right: 10px;
    text-align: right;
}

/*gallery page*/

#photos-section {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos-section>img {
    width: 100%;
}

/* Form */

.form-section {
    background: url("/assets/images/newsletter-bg-2-3.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 40px 0;
    color: #F0FFFF;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    position: absolute;
    left: 14px;
    padding: 30px;
}


.text-input {
    background: transparent;
    color: #F0FFFF;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #F0FFFF;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #0c92a4;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #0c92a4;
    color: #F0FFFF;
    display: block;
}

.join-button:hover {
    background-color: #F0FFFF;
    color: #0c92a4;
}