body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #547670;
    margin: 0;
}

/* headings and logo*/

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3bc3a9;
}

h1 {
    text-align: left;
    margin: 0;
}

#logo {
    width: 60px;
    height: 40%;
}


/*navigation links and logo*/

nav {
    background-color: #f0f0f0;
    border-bottom: 1px solid rgba(0.1, 0.5, 0.1, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 180%;
    letter-spacing: 4px;
    display: flex;
    margin: 0;
}

#menu li {
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}